Source: vhostmanager
Section: misc
Priority: optional
Maintainer: Uwe Gehring <adspectus@fastmail.com>
Build-Depends: debhelper (>= 10), docbook-xsl, docbook-xml, xsltproc
Standards-Version: 4.1.2

Package: vhostmanager
Architecture: all
Depends: apache2, coreutils (>= 8.26-3), ${perl:Depends}, ${misc:Depends}
Description: User specific apache2 configuration
 Various apache2 configuration files to implement user specific apache2
 configuration.
