#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

XSLOPT=--nonet --param make.year.ranges 1 --param make.single.year.ranges 1 --param man.charmap.use.subset 0
XSL=http://docbook.sourceforge.net/release/xsl/current/manpages/docbook.xsl
MANDIR=source/man

%:
	dh $@

override_dh_auto_build:
	for prg in vhostmanager.1 vhostenconf.1 vhostdisconf.1 vhostensite.1 vhostdissite.1 vhostquery.1;do xsltproc ${XSLOPT} -o ${MANDIR}/ ${XSL} ${MANDIR}/$$prg.xml;done
	dh_auto_build
