#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

XSLOPT=--nonet --param make.year.ranges 1 --param make.single.year.ranges 1 --param man.charmap.use.subset 0
XSL=http://docbook.sourceforge.net/release/xsl/current/manpages/docbook.xsl
MANDIR=source/man
BINDIR=source/bin

%:
	dh $@

override_dh_auto_build:
	for prg in vhostmanager.1;do xsltproc ${XSLOPT} -o ${MANDIR}/ ${XSL} ${MANDIR}/$$prg.xml;done
	for prg in vhostquery;do pod2man ${BINDIR}/$$prg.pl ${MANDIR}/$$prg.1;done
	for tgt in vhostenconf vhostdisconf vhostensite vhostdissite;do pod2man -n $$tgt ${BINDIR}/vhostmanage.pl ${MANDIR}/$$tgt.1;done
	dh_auto_build
